@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

body{
    background-color: #ffffff;
}
.center-container {
    display: flex;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    height: 90vh; /* Занимает всю высоту viewport */
    gap: 20px; /* Расстояние между кнопками */
}
/* Стили для кнопок */
button {
    padding: 10px 20px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.left-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%; /* Высота и ширина левой панели */
    overflow-y: auto; /* Прокрутка, если контент не помещается */
    background-color: #f4f4f4;
    padding: 10px;
}
.right-panel {
    margin-left: 20%; /* Отступ слева для правой панели */
    padding: 10px;
    height: 100vh; /* Высота правой панели до нижнего края окна */
    box-sizing: border-box;
}
.chat-window {
    height: calc(100vh - 60px); /* Высота окна чата */
    overflow-y: auto; /* Прокрутка, если сообщений много */
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
}

.message.bot {
    background-color: #f4f4f4;
    float: left;
    clear: both;
}

.content textarea {
    width: 60%; /* Ширина textarea */
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Отключаем изменение размера */
}

.input-field button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.typing-effect {
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    animation: typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

.reg{
    padding-top: 100px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}
