<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Help Your Business</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>


<body>
    <div class="reg">
        <center><h1 class="title">Авторизируйтесь, чтобы воспользоваться сервисом</h1></center>
    </div>
    <div class="center-container">
        <a href="{{ url_for('sign_up') }}"><button class="button is-link is-medium" id="sign-in-btn">Регистрация</button></a>
        <a href="{{ url_for('sign_in') }}"><button class="button is-link is-medium" id="sign-in-btn">Вход</button></a>
    </div>
</body>
</html>