<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Help Your Business</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>


<body>
    <center><h1 class="title">Авторизируйтесь, чтобы воспользоваться сервисом</h1></center>
    <div class="center-container">
        <a href="{{ url_for('sign_up') }}"><button id="sign-in-btn">Регистрация</button></a>
        <a href="{{ url_for('sign_in') }}"><button id="sign-in-btn">Вход</button></a>
    </div>
</body>
</html>