<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Help Your Business</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}" />
</head>
<body>
  <form action="" method="post">
    <div class="content">
        <h1 class="title">Разработаем стратегию для вашего бизнеса. Расскажите о проблеме или сфере деятельности — и мы предложим готовое решение.</h1>    <p>
        <center><textarea class="textarea" name="info" id="info" rows="10" placeholder="Введите свой запрос"></textarea></center>
        <center><input type="submit" class="button" value="Отправить"></center>
    </p>
    </div>
  </form>
  
</body>
</html>
