
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Your Business</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="left-panel">
        <iframe src="requests.html" frameborder="2" style="width:100%; height:100%;"></iframe>
    </div>
    <div class="right-panel">
        <iframe src="output.html" frameborder="0" style="width:100%; height:100%;"></iframe>
    </div>
</body>
</html>