<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Help Your Business</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <form action="" method="post">
    <div class="content">
    <h1><label><center>Поможем Вашему бизнесу через готовую стратегию</center></label></h1>
    <p>
        <textarea class="textarea" name="info" id="info" rows="10" placeholder="Введите свой запрос"></textarea>
        <center><input type="submit" class="button is-primary is-medium" value="Отправить"></center>
    </p>
    </div>
  </form>
  
</body>
</html>