<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Your Business</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <form action="" method="post">
    <div class="content">
    <h1><label><center>Поможем Вашему бизнесу через готовую стратегию</center></label></h1>
    <p>
        <textarea class="textarea" name="info" id="info" rows="10" placeholder="Введите свой запрос"></textarea>
        <input type="submit" class="button is-primary is-medium" value="Отправить">
    </p>
    </div>
  </form>
  <div class="chat-window">
    <div class="message bot typing-effect" id="additional-message">{{ response }}</div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
        const responseMessage = document.getElementById('response-message');
        const additionalMessage = document.getElementById('additional-message');

        // Удаляем анимацию после завершения
        responseMessage.addEventListener('animationend', function() {
            responseMessage.style.borderRight = 'none';
            additionalMessage.style.display = 'block';
            additionalMessage.classList.add('typing-effect');
        });
    });
  </script>

</body>
</html>