<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Help Your Business</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='output_style.css') }}" />
</head>

<body>
  <div class="chat-window">
    <h1>Результат:</h1>
    <h2>{{ response }}</h2>
  </div>
  <div class="center-container">
    <a class="button" href="{{ url_for('index') }}">Новый запрос</a>
    <a class="button" href="{{ url_for('requests') }}">История запросов</a>
  </div>
</body>
</html>
