<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='requests_style.css') }}" />
</head>
<body>
    <center><h1>Ваши запросы</h1></center>
    {% if requests|length > 0 %}
        {% for el in requests|reverse %}
        <div class="content">
            <h2>{{ el.question }}</h2>
            <h3>{{ el.answer }}</h3>
        </div>
        {% endfor %}
    {% else %}
        <h2>No requests</h2>

    {% endif %}
</body>
</html>
