<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Help Your Business</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sign_style.css') }}" />
</head>

<body>
    <div class="reg">
        <h1 class="title">Вход</h1>

        <form action="" method="post">
        
        <div class="field">
            <h2 class="subtitle">Логин:</h2>
            <input class="input" type="text" placeholder="Enter" name="login" />
        </div>

        <div class="field">
            <h2 class="subtitle">Пароль:</h2>
            <input class="input" type="text" placeholder="Enter" name="password" />
        </div> 
        
        <center><input class="button" id="in" type="submit" value="Отправить" /></center>
        
    </form>
    </div>
</body>
</html>
