<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Your Business</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<style>
    form {
        display: flex;
        gap: 10px;
        padding-top: 300px;
        padding-left: 200px;
    }
    label, input {
        display: inline-block;
    }
</style>

<body>
    
    <center><h1 class="title">Sign up</h1></center>
    <form action="" method="post">
        <h2 class="subtitle">Login:</h2>
        <div style="width: 200px; height:150px;">
            <input class="input" type="text" placeholder="Enter" name="login" />
        </div>

        <h2 class="subtitle">Password:</h2>
        <div style="width: 200px; height:150px;">
            <input class="input" type="text" placeholder="Enter" name="password" />
        </div> 

        <h2 class="subtitle">Repeat your password:</h2>
        <div style="width: 300px; height:250px;">
            <input class="input" type="text" placeholder="Enter" name="password" />
        </div>
        
        <center><input class="button" type="submit" value="Send" /></center>
        
    </form>

</body>
</html>