<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Help Your Business</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="content">
        <center><h1>HYB</h1></center>
        <center><h1>помощь Вашему бизнесу</h1></center>
    </div>
    <div class="center-container">
        <a class="button is-primary is-large" href="{{ url_for('index') }}">Новый запрос</a>
        <a class="button is-primary is-large" href="{{ url_for('requests') }}">История запросов</a>
    </div>

</body>
</html>