<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign_up</title>
</head>
<body>
    <center><h1>Sign Up</h1></center>
    <form action="" method="post">
        <label>Login</label>
        <input type="text"
                placeholder="Enter"
                name="login">

        <label>Password</label>
        <input type="text"
                placeholder="Enter"
                name="password">

        <input type="submit" class="btn btn-success" value="Send">
    </form>

</body>
</html>