<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign_in</title>
    <link rel="stylesheet" href="style.css">
</head>

<style>
    form {
        display: flex;
        gap: 10px;
        padding-top: 300px;
        padding-left: 400px;
    }
    label, input {
        display: inline-block;
    }
</style>

<body>
    
    <center><h1 class="title">Sign in</h1></center>
    <form action="" method="post">
        <h2 class="subtitle">Your login:</h2>
        <div style="width: 200px; height:150px;">
            <input class="input" type="text" placeholder="Enter" name="login" />
        </div>

        <h2 class="subtitle">Your password:</h2>
        <div style="width: 200px; height:150px;">
            <input class="input" type="text" placeholder="Enter" name="password" />
        </div> 
        
        <center><input class="button" type="submit" value="Send" /></center>
        
    </form>
</body>
</html>